[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "psymetadata"]
	path = psymetadata
	url = https://github.com/josue-rodriguez/psymetadata
